body {
    min-width:200px;
}

h3.title{
    padding-top: 5%;
    text-align: center;
    color: red;
    font-weight:bold;
    font-size: 25px;
}

p.browserID{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4%;
}

div.paired{
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 3%;
    color: grey;
    font-size: 17px;
}

div.sinks{
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 13px;
}

div.sinks:hover{
    background-color: lightgrey;
}

i{
    color: black;
}

div.bottomSpace{
    padding: 3%;
}